<% include header %>
	<div class="topbar">
		<ul class="options">
			<li>chats</li>
			<li>Human experts</li>
			<li>calendar</li>
			<li>analytics</li>
			<li>others</li>
		</ul>
	</div>
	<div class="sidebar">
		<ul>
			<li>edi</li>
			<li>task</li>
			<li>history</li>
		</ul>
	</div>
	<div class="mainbox">
		<ul class="person-list">
			<li class="cur-person">John Smith</li>
			<li>Mary Joe</li>
			<li>Jack Sue</li>
			<li>Alex Wang</li>
			<li>Ray Jin</li>
			<li>John Smith</li>
		</ul>
		<div class="slide-btn"></div>
		<div class="chat-box">
			<div class="screen-area">
				<ul class="messages">
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
					<li class="message left">this is a message!</li>
					<li class="message right">this is a message!</li>
				</ul>
			</div>
			<div class="type-area">
				<textarea name="" id="" cols="30" rows="10">
					
				</textarea>
			</div>
		</div>
	</div>
<% include footer %>